@value colors: './colors.css';
@value primary, secondary from colors;

:root {
  --color-background: #fb0;
}

.base {
  content: 'base';
}

.composed {
  composes: base;
}

.flexible {
  composes: flex from './utils.css';
  flex-direction: column;
}

:global(.js) .progressive {
  display: block;
}

:export {
  background-color: var(--color-background);
}
