{
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": "node"
  },
  "rules": {
    "arrow-parens": [1, "as-needed"],
    "brace-style": [1, "stroustrup", { "allowSingleLine": true }],
    "comma-dangle": [2, "never"],
    "no-unused-vars": 1,
    "spaced-comment": [
      1,
      "always", {
        "exceptions": [
          "-+"
        ],
        "markers": [
          "eslint-disable",
          "eslint-disable-line"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }]
  }
}
