:root {
  --color-background: rgb(255, 187, 0);
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background: black;
  border: 1px solid rgb(0, 0, 0);
  color: #000;
  min-height: 100%;
}

img {
  height: auto;
  opacity: .1;
  max-width: 100%;
  z-index: 100;
}

a {
  color: var(--color-background);
  text-decoration: none;

  &.disabled {
    pointer-events: none;
  }

  a:hover {
    transform: scale(1.1);
  }
}

.app {
  &__items__kols {
    &__item {
      background-color: #fff;
      color: var(--black);

      &--app {
        color: #000;
      }
    }
  }
}

#react {
  min-height: 100vh;

  > div > div {
    color: #aaa;

    .col {
      max-width: 200px;

      span {
        color: green;

        span {
          background-color: rgba(#000, .1);
        }
      }
    }
  }

  @media (--md) {
    min-height: 80vh;
  }
}

.not-found {
  text-align: justify;

  h1 {
    font-size: 128px;
    margin: 0;

    @media all and (min-width: 300px) {
      font-size: 256px;
    }
  }

  a {
    display: inline;
    transition: margin 350ms ease-in;
    width: 100px;
  }

  @media screen and (max-width: 480px) {
    a {
      display: none;
    }
  }
}
