:root {
  --color-background: rgb(255, 187, 0);
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background: black;
  border: 1px solid rgb(0,0,0);
  color: #000;
  min-height: 100%;
}

img {
  height: auto;
  opacity: .1;
  max-width: 100%;
}

a {
  color: var(--color-background);
  text-decoration: none;

  &.disabled {
    pointer-events: none;
  }
}

.app {
  &__items__kols {
    &__item {
      background-color: #fff;
      color: var(--black);

      &--app {
        color: #000000;
      }
    }
  }
}

#react {
  min-height: 100vh;

  > div > div {
    color: #aaaaaa;

    .col {
      max-width: 200px;

      span {
        color: green;

        span {
          background-color: rgba(#000, .1);
        }
      }
    }
  }
}

.not-found {
  text-align: center;

  h1 {
    font-size: 128px;
    margin: 0;

    @media all and (min-width: 300px) {
      font-size: 256px;

    }
  }
}
